.wrapper {
  cursor: default;
  width: 600px;
  margin: 60px auto;
}

.toolbar {
  border-bottom: 2px solid rgba(126, 134, 142, 0.24);
}

.container {
  margin-top: 20px;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  cursor: text;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}