.wrapper {
  cursor: default;
  width: 600px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.toolbar .active {
  color: blue;
}

.container {
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  cursor: text;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}