.editable-toolbar {
  display: flex;

  .toolbar-group {
    display: flex;
  }

  .toolbar-btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px 3px;
    font-size: 16px;
    cursor: pointer;
    color: #595959;
    outline: none;

    &:hover, &.active {
      background-color: #e8e8e8;
      border: 1px solid transparent;
    }
  }
}